.result {
    padding: 4rem;
    min-height: 40vh;
    
    &_number {
        text-align: center;
        margin-bottom: 5vh;
    }

    .card_dev {
        width: 300px;
        
        display: flex;
        flex-direction: column;
 
        background-color: white;


        img {
            width: 100%;
        }

        .items {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;
        }
        h2 {
            font-size: 1.2rem;
            padding: 1rem;
        }
    }
}